<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% #TODO image column- use Paperclip %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :source_language_id %>
    <%= f.collection_select :source_language_id, Language.all, :id, :code %>
  </div>
  <div class="field">
    <%= f.label :target_language_id %>
    <%= f.collection_select :target_language_id, Language.all, :id, :code %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  


  <div class="provider_defaults">
  	<h2>Default Settings for Items </h2>
  	 <div class="field">
  	 	<% #TODO Autcomplete for UDCs %>
	    <%= f.label :default_udc_id %><br />
	    <%= f.collection_select :default_udc_id, Udc.all(:order => "code"), :id, :code, {:include_blank => true} %>
	  </div>
	  <div class="field">
	    <%= f.label :default_domain_id %><br />
	    <%= f.collection_select :default_domain_id, Domain.all(:order => "code"), :id, :code %>
	  </div>
	  <div class="field">
	    <%= f.label :query_by_default %><br />
	    <%= f.check_box :default_is_query %>
	  </div>
	  <div class="field">
	    <%= f.label :public_by_default %><br />
	    <%= f.check_box :default_is_public %>
	  </div>
	  <div class="field">
	    <%= f.label :default_source_id %><br />
	    <%= f.collection_select :default_source_id, Source.all(:order => "name"), :id, :name %>
	    <%= link_to 'Create New Source', new_source_path %>
	  </div>
	   <div class="field">
	    <%= f.label :default_source_url %><br />
	    <%= f.text_field :default_source_url %>
	  </div>
	  
</div>	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
