<h3>Provider Information</h3>
	<strong>Current User</strong> <br /><%= current_user.name %><br />	
	<strong>Provider:</strong> <br /><%= @provider.provider_name %><br/>	
	<strong>Description:</strong> <br /><%= @provider.description %><br/>
	<% if @provider.source_language_id? %>
		<strong>Source language:</strong> <br /><%= Language.find_by_id(@provider.source_language_id).code %>
	<% end %>	
	<% if @provider.target_language_id? %>
		<strong>Target language:</strong> <br />
		<%= Language.find_by_id(@provider.target_language_id).code %>
	<% end %>
	<% if @provider.default_domain_id? %>	
		<strong>Default domain:</strong><br /> 
		<%= Domain.find_by_id(@provider.default_domain_id).long_name %>
	<% end %>
	<strong>Public by default?:</strong><br/>
	<%= @provider.default_is_public? ? 'yes' : 'no' %>
	<% if @provider.default_source_id? %><br/>
		<strong>Default source:</strong><%= Source.find_by_id(@provider.default_source_id).name %>
	<% end %><br/>
