<table class="profile" summary="Profile information">
	<tr>
		<td class="main">			
			 <h1> Enter One or More Translations</h1>
				<%= render :partial => "shared/translation_form", :locals => {:translation => @translation} %>
		</td>
		<td class="sidebar round">
			<h1><%= @title || "A Provider" %></h1>
			<%= render :partial => "provider_info" %>
			<%= link_to 'Edit Provider', edit_provider_path(@provider) %> |
			<%= link_to 'Go Back', providers_path %>
			<br/>
			<h1>Existing Translations for this Provider</h1>
				<h3> Simple Search</h3>
				<div id="field">
					<%= form_tag provider_path(@provider), 
						:method => 'get'  do %>
						<%= text_field_tag :search %>
						<%= submit_tag "search" %>
					<% end %>
				</div>			
				<div id="newtransfeed">	
					<% @translations.each do |t| %>
						<%= link_to SourceTu.find_by_id(t).content, provider_translation_path(@provider, t) %>
						</br>
					<% end %>
				</div>			
		</td>
	</tr>
	
	
</table>
	
	
	
	

  
