<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				Provider Page
			</h1>
		
		<div class="field">
		<b>Name:</b>
  		<%= @provider.provider_name %>
		</div>
		<% if @provider.source_language_id? %>
		<div class="field">
  			<b>Source language:</b>
  			<%= Language.find_by_id(@provider.source_language_id).code %>
		</div>
		<% end %>	
		<% if @provider.target_language_id? %>
		<div class="field">
  			<b>Target language:</b>
  			<%= Language.find_by_id(@provider.target_language_id).code %>
		</div>
		<% end %>
		<% if @provider.default_domain_id? %>	
		<div class="field">
  			<b>Default domain:</b>
  			 <%= Domain.find_by_id(@provider.default_domain_id).code %>
		</div>
 		<% end %>
		<div class="field">
  		<b>Public by default?:</b>
  			<%= @provider.default_is_public? ? 'yes' : 'no' %>
		</div>
		
		<% if @provider.default_source_id? %>
		<div class="field">
  		<b>Default source:</b>
  		<%= Source.find_by_id(@provider.default_source_id).name %>
		</div>
		<% end %>
	<%= link_to 'Edit', edit_provider_path(@provider) %> |
	<%= link_to 'Back', providers_path %>
	<br/>

</td>
		
		<td class="sidebar round">
			<strong>Current User</strong> <br /><%= current_user.name %><br />
			<strong>Provider Owner</strong> <br /><%= @provider.user_id %><br />
			
			<strong>URL</strong> <%= link_to user_path(current_user), current_user %><br />
	
			<% #TODO Ajaxify these two links%>
				<%= link_to "Create a new term", :controller => "terms", :action => "show_form", :remote => true %>
			<div id="show"></div>
				<%= link_to "Upload term file", '#' %>	
		</td>
	</tr>
	
	
</table>
	
	
	
	

  
