<tr>
	<td class="term">	
	<% if term.is_public? %>	
		<%= link_to term_path(term) do %>
			<span class="source_content"><%= term.source_content %></span>
		<% end %>
		<span class="source_language"><%= term.source_language_id %></span>
	<br/>	
		<span class="target_content"><%= term.target_content %></span>
			<span class="target_language"><%= term.target_language_id %></span>
			<br />				
	<% else %>
	<span class="source_content"><%= term.source_content %></span>
	<span class="source_language"><%= term.source_language_id %></span>
	<br/>
		<%= link_to do %>
			<span class="hidden_target_content"><%= "Click to purchase" %></span>
		<% end %>
			<span class="target_language"><%= term.target_language_id %></span>
			<br />
	<% end %>
	
	<span class="domain"><%= term.domain_id %>
	<span class="timestamp">
			First created <%= time_ago_in_words(term.created_at) %> ago.<br/>
			Last updated <%= time_ago_in_words(term.updated_at) %> ago.
		</span>
		</td>
		
		<% user = term.user rescue User.find(term.user_id) #workaround lesson11 %>
		<% if current_user?(user)%>
<td>
	<%= link_to "delete", term, 		:method => :delete,
									 	:confirm => "Are you sure?"
 										%>
									 										 	
</td>
<% end %>
			
</tr>