<% title "Jobs" %>

<table>
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th>Owner</th>
  </tr>
  <% for job in @jobs %>
    <tr>
      <td><%= job.code %></td>
      <td><%= job.description %></td>
      <td><%= job.owner_id %></td>
      <td><%= link_to "Show", job %></td>
      <td><%= link_to "Edit", edit_job_path(job) %></td>
      <td><%= link_to "Destroy", job, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Job", new_job_path %></p>
