<h1>
<%= gravatar_for (@user, :d =>'mm' ) %>
<%= @user.name %> 
</h1>


<%= @user.phone %>,
<%= @user.skype %>,

<p>Location information:</p>
<%= @user.time_zone %>,

<p>Financial Information:</p>
<%= @user.rate %>,