<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for (@user) %>
				<%= @user.name %> 
			</h1>
			<%= render 'subscribe_form' if signed_in? %>
			<% if @user.providers.any? %>
				
			<table class="terms" summary = "User terms" >
			
					<%= render @terms %>
					
			</table>
			<%= will_paginate @terms %>
			
			
			<% end %>
		</td>
		
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %>  <br />
			<strong>URL</strong> <%= link_to user_path(@user.id),user_path(@user.id) %><br />
			<% if @user.native_language_id? %>
				<strong>Native Language:</strong> <%= Language.find_by_id(@user.native_language_id) %><br/>	
			<% end %>
			<% if @user.provider_id? %>
				<strong>Status: Term Provider</strong><br/>
				<strong>ID:</strong><br/>	
			<% end %>
			<strong>Phone:</strong> <%= @user.phone %> <br/>
 			<strong>Skype:</strong>	<%= @user.skype %> <br />
 			<% if @user.time_zone? %>
 				<strong>My time zone:</strong> <% @user.time_zone %><br/>
 			<% end %>
			<% if @user == current_user %>
				<strong>Current credit:</strong>
				<%= @user.credit_balance.to_s %><br />
			<% end %>
			<strong>Terms owned:</strong>	<%= @user.terms.count %><br />
			<strong>Subscriptions held:</strong>
			<%= render 'shared/subscription_stats' %>
		<% if @user.admin? %>
		<div id="adminlinks">
			<h2> Admin Tools </h2><br />	
			<%= link_to "Sources", sources_path %><br />
			<%= link_to "Companies", companies_path %><br />
			<%= link_to "Jobs", jobs_path %><br />
		</div>
		<% end %>		
		</td>
	</tr>
	
	
	</table>


