<% @user ||= current_user %>
<div class="stats">
<table>
	<tr>
		<td>
			<strong>Total Number of Providers:</strong><br/>
			<%= @user.providers.count %><br />
			Click to Enter Translations</br/>
				<% for provider in @user.providers %>
				<a href="<%= user_provider_path(@user,provider) %>">
					<span id="providers" class="stat">
		<%= provider.provider_name %><br/>
		<%= pluralize(provider.translations.count, "translations") %>
	    <%= link_to 'Edit', edit_provider_path(provider) %>
	    <%= link_to 'Destroy', provider, 
			:confirm => 'Are you sure?', :method => :delete %>
					</span>
				</a><br /> 
				<% end %>
		</td>
	</tr>
</table>	
</div>
