<td class="term">

    Name <%= provider.provider_name %><br/>
    Source Language <%= provider.source_language_id %><br/>
    Target Lang <%= provider.target_language_id %><br/>

    Domain <%= provider.default_domain_id %><br/>
   
    is public?<%= provider.default_is_public %><br/>
    source id<%= provider.default_source_id %><br/>
    user id<%= provider.user_id %><br/>


	</td>
	<td>
	<%= link_to 'Show', provider %>
    <%= link_to 'Edit', edit_provider_path(provider) %>
    <%= link_to 'Destroy', provider, :confirm => 'Are you sure?', :method => :delete %>
 	</td>