<%= form_for(@term) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	
		<%= form_for(@tu) do |t| %>
		<div class="field">
			<%= t.label :source_language, "From" %><br /> 
			<%= t.collection_select(:language_id, Language.all, :id, :code) %>
		</div>
		<div class="field">
			<%= t.label :source_content, "Source" %><br /> 
			<%= t.text_area :content %>
		</div>
		<div class="field">
			<%= t.label :definition, "Definition" %><br /> 
			<%= t.text_field :definition %>
		</div>
		<%= hidden_field_tag 'is_source', 'TRUE' %>
		<% end %>

	<div class="field">
		<%= f.label :notes, "Notes" %><br />  
		<%= f.text_area :notes %>
	</div>
	<div class="field">
		<%= f.check_box :is_public %>
		<%= f.label :is_public, "Public" %> 
	</div>
		<div class="field">
		<%= f.check_box :is_query %>
		<%= f.label :is_query, "Query" %> 
	</div>
	<div class="actions">
		<%= f.submit "Submit Term" %>
	</div>

<% end %>