%table.translationform
  %tr
  - form_for :translation do |t|  
    = link_to 'Edit Defaults'
    .field
    = t.radio_button :is_public, 1
    = t.label :is_public, "Public to all?"
    = t.radio_button :is_public, 0
    = t.label :is_public, "Private"    
    .field
    Translation Type
    = t.radio_button :translation_type, 1
    = t.label :translation_type, "Term"
    = t.radio_button :translation_type, 2
    = t.label :translation_type, "Segment"
    .field
    =t.label :source_id, "Enter a Source"
    =t.collection_select (:source_id, Source.all, :id, :name)

    =t.fields_for :domain do |dom| 
      .field
      =dom.label :domain, "Domain"
      =dom.collection_select(:domain_id, Domain.all, :id, :codewithlongname)
      %br
      = link_to 'Add 2nd Domain' 
      %br/
        
    %br/
    = link_to 'Enter Translation(s)'	
    =t.fields_for :source_tu do |su| 
      .field
      =su.text_field :content, :value => "source translation"
      =su.collection_select(:language_id, Language.all, :id, :code)
      =su.text_field :definition, :value => "enter a definition"
      %br
    =t.fields_for :target_tu do |tu| 
      =tu.text_field :content, :value => "target translation"      
      =tu.collection_select(:language_id, Language.all, :id, :code)
      =tu.text_field :definition, :value => "enter a definition"	
      %br
      =t.label :source_url, "Enter a Source URL"
      =t.text_field :source_url
      %br
    = link_to 'Add Another Translation'
    
    .field
    =t.submit "Submit Translation"
    %br/
