<% if signed_in? %>
	
	<table>
	<tr>
		User Logged In Welcome Page <br/>
		User can view/edit own providers <br/>
		User can create a new provider <br/>
		
		Subscribe to new providers <br/>
		
		
	</tr>
	</table>
	<table class="front" summary="For signed-in users">
		<tr>
			<td class="main">
				<h1>What would you like to do today?</h1> 
				<%= link_to "Search All User Translations", searches_path, :class => "search_button round" %>
				<br/>
				<%= link_to "Enter translations", providers_path, :class => "search_button round" %>
				<br/>
				<h1 class="bold">Subscribe to a Translation Provider</h1>
				<br/>
				<h1 class="searchfeed">Your Latest Translation Feeds</h1>		
				<%= render 'shared/feed' %>
		
				
				
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/subscription_stats' %>				
			</td>	
			
			</tr>
	</table>		
			
<% else %>
<h1>Welcome to Mellterm</h1>
<p>This is the home page for <a href="http://www.mellterm.net">
	Mellterm Translation and Terminology</a>.
</p>

<%= link_to "Sign Up Now", signup_path, :class => "signup_button round"%>

<% end %>