<h1>DOMAINS</h1>

<table>
  <tr>
  	<th>Image</th>
    <th>Code</th>
    <th>Long name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @domains.each do |domain| %>
  <tr>
  	<td><%= image_tag domain.photo.url(:grav) %></td>
    <td><%= domain.code %></td>
    <td><%= domain.long_name %></td>
    <td><%= link_to 'Show', domain %></td>
    <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
    <td><%= link_to 'Destroy', domain, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New domain', new_domain_path %>