			<header>
				<%= image_tag("logo.png", :alt => "mellterm", :class => "round")%>
				<nav class="round">
					<ul>
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "About", about_path %></li>
						<li><%= link_to "Profile", profile_path %></li>	
						<li><%= link_to "Mellterm", mellterm_path %></li>
						<li><%= link_to "Sign in", '#' %></li>
					</ul>	
					</nav>
			</header>