			<header>
				<%= image_tag("logo.png", :alt => "mellterm", :class => "round")%>
				<nav class="round">
					<ul>
						<li><%= link_to "Home", '#' %></li>
						<li><%= link_to "Profile", '#' %></li>	
						<li><%= link_to "Mellterm", '#' %></li>
						<li><%= link_to "Sign in", '#' %></li>
					</ul>	
					</nav>
			</header>